<!--
VER   DATE    DESCRIPTION
0.1.0 4/01/20 Created by Jason
0.1.1 4/16/20 Added SubmittedAnswer.Focus() to DefinitionPracticeFitB.aspx.cs.
              Added this file for versioning.
0.1.2 4/16/20 Added ResortLbl to indicate a resort event.
              Replaced "SELECT 10" with "SELECT TOP {resortValue}" to make it configurable.
              Replaced 10 with resortValue in the "for" loop.
              Fixed index.
              DB: Drop primary key(username,word) with primary key(username,id) so the quizzed words won't be alphabetized.
              Added version.config. Added <appSettings> to web.config. Remove version.txt
              Added version to copyright in site.master
0.1.3 4/18/20 Fixed "The connection was not closed" exception.              
-->
<appSettings>
  <add key="version" value="v0.1.3"/>  
</appSettings>
