<!--
VER   DATE    DESCRIPTION
0.1.0 4/01/20 Created by Jason
0.1.1 4/16/20 Added SubmittedAnswer.Focus() to DefinitionPracticeFitB.aspx.cs.
              Added this file for versioning.
0.1.2 4/16/20 Added ResortLbl to indicate a resort event.
              Replaced "SELECT 10" with "SELECT TOP {resortValue}" to make it configurable.
              Replaced 10 with resortValue in the "for" loop.
              Fixed index.
              DB: Drop primary key(username,word) with primary key(username,id) so the quizzed words won't be alphabetized.
              Added version.config. Added <appSettings> to web.config. Remove version.txt
              Added version to copyright in site.master
0.1.3 4/18/20 Fixed "connection not closed" exception.
0.1.4 4/21/20 Added Util.cs. Added NumTotal.
0.15  4/23/20 Added Inc(Session) to NumTotal. Eliminated the last digital in the version number.
0.16  4/24/20 Code Refactoring - Broke down long methods into smaller ones; removed unnecessary NameSpaces
--> 
<appSettings>
  <add key="version" value="v0.16"/>  
</appSettings>
